.expense-list {
    grid-area: list;

    display: flex;
    flex-direction: column;
    margin-right: 50px;
    max-height: calc(100vh - 235px);
    overflow-y: auto;

    @media (max-width: 800px) {
        max-height: 500px;
        max-width: fit-content;
        margin: auto;
    }
}

.scrollable-content::-webkit-scrollbar {
    width: 12px;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 6px;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
    background: #666;
}