.navbar {
    grid-area: nav;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 800px) {
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
}