.main-app {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 100px 100px calc(100vh - 200px);
    grid-template-areas:
        "nav nav"
        "filter filter"
        "list chart";
    min-height: 100vh;

    background-color: $bg-primary;
    color: $text-primary;

    >* {
        padding: 0 50px;
    }
}