// Background colors
$bg-primary: #121212;
$bg-secondary: #1E1E1E;
$bg-tertiary: #252525;

// Text colors
$text-primary: #E0E0E0;
$text-secondary: #BBBBBB;
$text-disabled: #666666;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;